<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <h3 class="page-header"> Fichier des projets  </h3>
        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" type="button">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
            </div>
        </div>
        <p></p>
        <% if( typeof projets !== 'undefined') { %>
        <table class="table table-hover">
            <thead>
                <tr class="active">
                    <th>ID_Projet</th>
                    <th>Nom_Projet</th>
                    <th>DateDebut_Projet</th>
                    <th>DateFin_Projet</th>
                    <th>ID_Pop</th>
                    <th>Periode_Projet</th>
                    <th>ID_Domaine</th>
                    <th>!</th>
                </tr>
            </thead>
            <tbody>
                <% Patient.forEach(function(p) { %>
                <tr ng-repeat="u in userItems.lines">
                    <td><%= p.ID_Projet %></td>
                    <td><%= p.Nom_Projet %></td>
                    <td><%= p.DateDebut_Projet %></td>
                    <td><%= p.DateFin_Projet %></td>
                    <td><%= p.ID_Pop %></td>
                    <td><%= p.Periode_Projet %></td>
                    <td><%= p.ID_Domaine %></td>
                    <td>
                        <button class="btn btn-default btn-sm" type="button">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </td>
                </tr>
                <% })%>
            </tbody>
        </table>
       

        <% } else { %>
            <p></p>
            <div class="text-center">
                <div class="alert alert-info">Il n'existe aucun projet dans le systeme</div>
            </div>
            <% } %>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>

</html>