<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Aquila project 1.0</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>


    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
    /* @media screen and (min-width: 768px) */
    .header, .marketing, .footer {
        padding-right: 0;
        padding-left: 0;
    }

    .marketing {
        margin: 40px 0;
    }
    .header, .marketing, .footer {
        padding-right: 15px;
        padding-left: 15px;
    }
    

</style>