<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Health Activity
            </a>

            <ul class="nav navbar-nav">
                <li><a href="/">Accueil</a></li>
                <li><a href="/patients">Patients</a></li>
                <li><a href="/activites">Activites</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/examen">Examen</a></li>
                <li><a href="/maladies">Maladies</a></li>
                <li><a href="/personnels">Personnels</a></li>
                <li><a href="/projets">Projets</a></li>
                <li><a href="/traitements">Traitements</a></li>
                <li><a href="/structures">Structures</a></li>
                <li><a href="/populations cibles">Populations cibles</a></li>
                <li><a href="/suivis">Suivis</a></li>
                <li><a href="/correspondants">Correspondants</a></li>
                <li><a href="/domaines">Domaines</a></li>
            </ul>
        </div>

    </div>
</nav>
