<!-- views/partials/header.ejs -->
<html>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    Health Activity
                </a>

                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Des données fiables pour des décisions meilleures</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
            <p>
                <a class="btn btn-info" href="/" role="button">
                    <i class="fa fa-book">
                        Accueil
                    </i>
                </a>

                <a class="btn btn-info" href="/apropos" role="button">
                    <i class="fa fa-book">
                        A propos
                    </i>
                </a>

                <a class="btn btn-info" href="/login" role="button">
                    <i class="dropdown-toggle" data-toggle="dropdown">
                        Se connecter!
                    </i>
                </a>
            </p>
                                            </ul><!-- end left -->
                    <ul class="nav navbar-nav navbar-right">
                                            <li class="btn-buy"><a style="color:rgb(43, 17, 136);" href="/" class="dropdown-toggle" data-toggle="dropdown">Donnateur?</a></li>
                                        </ul><!-- end right -->
        </div>
    </nav>
</html>