<!-- views/partials/header.ejs -->
<html>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    Health Activity
                </a>

                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Des données fiables pour des décisions meilleures</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">   
                    <li class="active">
                        <a class="navbar-brand"href="/">Accueil</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="/apropos" target="_blank">A propos</a>
                    </li>

                    <li class="dropdown">
                        <a class="navbar-brand" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Outils 
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/pages/dashboard">Tableau de bord</a>
                            </li>
                            <li>
                                <a target="_blank" href="/pages/aboutRsb">Qui sommes nous?</a>
                            </li>
                            <li class="disabled">
                                <a href="#">Developpeurs</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="navbar-brand" href="/acueil" target="_blank">Donnateur?</a></li>
                                            </ul><!-- end left -->
                    <ul class="nav navbar-nav navbar-right">
                                            <li class="btn-buy"><a style="color:rgb(43, 17, 136);" href="/pages/login" target="_blank">Se connecter!</a></li>
                                        </ul><!-- end right -->
        </div>
    </nav>
</html>