<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <h3 class="page-header"> Fichier des utilisateurs  </h3>
        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" type="button">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
            </div>
        </div>
        <p></p>
        <% if( typeof Utilisateurs !== 'undefined') { %>
        <table class="table table-hover">
            <thead>
                <tr class="active">
                    <th>ID_User</th>
                    <th>Nom_User</th>
                    <th>Mail_User</th>
                    <th>MdPass_User</th>
                    <th>Bio_User</th>
                    <th>isAdmin</th>
                    <th>!</th>
                </tr>
            </thead>
            <tbody>
                <% Utilisateurs.forEach(function(p) { %>
                <tr ng-repeat="u in userItems.lines">
                    <td><%= u.ID_User %></td>
                    <td><%= u.Nom_User %></td>
                    <td><%= u.Mail_User %></td>
                    <td><%= u.MdPass_User %></td>
                    <td><%= u.Bio_User %></td>
                    <td><%= u.isAdmin %></td>
                    <td>
                        <button class="btn btn-default btn-sm" type="button">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </td>
                </tr>
                <% })%>
            </tbody>
        </table>
       

        <% } else { %>
            <p></p>
            <div class="text-center">
                <div class="alert alert-info">Aucun utilisateur n'est enregistré dans le systeme</div>
            </div>
            <% } %>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>

</html>