<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <h3 class="page-header"> Fichier des traitements  </h3>
        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" type="button">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
            </div>
        </div>
        <p></p>
        <% if( typeof Traitements !== 'undefined') { %>
        <table class="table table-hover">
            <thead>
                <tr class="active">
                    <th>ID_Tratement</th>
                    <th>ID_Pat</th>
                    <th>ID_Mal</th>
                    <th>Detail_Tratement</th>
                    <th>DateDebut_Tratement</th>
                    <th>DateFin_Tratement</th>
                    <th>Etat_Tratement</th>
                    <th>Observation</th>
                    <th>!</th>
                </tr>
            </thead>
            <tbody>
                <% Traitements.forEach(function(p) { %>
                <tr ng-repeat="u in userItems.lines">
                    <td><%= t.ID_Tratement %></td>
                    <td><%= t.ID_patient %></td>
                    <td><%= t.ID_Mal %></td>
                    <td><%= t.Detail_Tratement %></td>
                    <td><%= t.DateDebut_Tratement %></td>
                    <td><%= t.DateFin_Tratement %></td>
                    <td><%= t.Etat_Tratement %></td>
                    <td><%= t.Observation %></td>
                    <td>
                        <button class="btn btn-default btn-sm" type="button">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </td>
                </tr>
                <% })%>
            </tbody>
        </table>
       

        <% } else { %>
            <p></p>
            <div class="text-center">
                <div class="alert alert-info">Aucun traitement n'est enregistré dans le systeme</div>
            </div>
            <% } %>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>

</html>