<li class="dropdown">
    Product 
    <i class="dropdown__icon pm-icon-chevron-down">
    </i>
    <ul class="dropdown__menu" style="display: none;">
        <li class="menu__item">
            <a href="/products" rel="noopener">
                Postman
                <div class="item__tagline">The only complete API Development Environment</div>
            </a>
        </li>
        <li class="menu__item">
            <a href="/api-network/" rel="noopener">
                API Network
                <div class="item__tagline">
                    A directory of who's running in postman
                </div>
            </a>
        </li>
    </ul>
</li>