<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <h3 class="page-header"> Fichier des patients  </h3>
        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" type="button">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
            </div>
        </div>
        <p></p>
        <% if( typeof patients !== 'undefined') { %>
        <table class="table table-hover">
            <thead>
                <tr class="active">
                    <th>ID_patient</th>
                    <th>Nom_patient</th>
                    <th>Prenom_patient</th>
                    <th>Sexe_patient</th>
                    <th>DateNais_patient</th>
                    <th>Tel_patient</th>
                    <th>Adress_patient</th>
                    <th>Profession_ptient</th>
                    <th>Email_patient</th>
                    <th>PointEntree_patient</th>
                    <th>!</th>
                </tr>
            </thead>
            <tbody>
                <% Patient.forEach(function(p) { %>
                <tr ng-repeat="u in userItems.lines">
                    <td><%= p.ID_patient %></td>
                    <td><%= p.Nom_patient %></td>
                    <td><%= p.Prenom_patient %></td>
                    <td><%= p.Sexe_patient %></td>
                    <td><%= p.DateNais_patient %></td>
                    <td><%= p.Tel_patient %></td>
                    <td><%= p.Adress_patient %></td>
                    <td><%= p.Profession_ptient %></td>
                    <td><%= p.Email_patient %></td>
                    <td><%= p.PointEntree_patient %></td>
                    <td>
                        <button class="btn btn-default btn-sm" type="button">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </td>
                </tr>
                <% })%>
            </tbody>
        </table>
       

        <% } else { %>
            <p></p>
            <div class="text-center">
                <div class="alert alert-info">Aucun patient n'est enregistré dans le systeme</div>
            </div>
            <% } %>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>

</html>