<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <h3 class="page-header"> Fichier des activités  </h3>
        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" type="button">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
            </div>
        </div>
        <p></p>
        <% if( typeof activités !== 'undefined') { %>
        <table class="table table-hover">
            <thead>
                <tr class="active">
                    <th>ID_Activ</th>
                    <th>Nom_Activ</th>
                    <th>Date_Activ</th>
                    <th>Type_Activ</th>
                    <th>PopulationCible</th>
                    <th>Site_Activ</th>
                    <th>Observation</th>
                    <th>!</th>
                </tr>
            </thead>
            <tbody>
                <% activites.forEach(function(p) { %>
                <tr ng-repeat="u in userItems.lines">
                    <td><%= a.ID_Activ %></td>
                    <td><%= a.Nom_Activ %></td>
                    <td><%= a.Date_Activ %></td>
                    <td><%= a.Type_Activ %></td>
                    <td><%= a.PopulationCible %></td>
                    <td><%= a.Site_Activ %></td>
                    <td><%= a.Observation %></td>
                    <td>
                        <button class="btn btn-default btn-sm" type="button">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </td>
                </tr>
                <% })%>
            </tbody>
        </table>
       

        <% } else { %>
            <p></p>
            <div class="text-center">
                <div class="alert alert-info">Aucune activité n'est enregistrée dans le systeme</div>
            </div>
            <% } %>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>

</html>