<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/heades %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>Des données fiables pour de meilleurs décisions!!</h1>
            <p>Bienvenu sur la page Apropos</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Présentation DCLI</h3>
            <p>Le programme « Data Collaboratives for Local Impact » (DCLI) est issu d’un partenariat entre le Plan d'Urgence du Président Américain pour la Lutte contre le SIDA (PEPFAR) et le Millennium Challenge Corporation (MCC). Il permet des investissements ciblés visant à renforcer de manière stratégique, l'écosystème des données dans les pays cibles. 
                Le DCLI a démarré ses activités en Côte d’ivoire en mai 2018 par la mise œuvre de deux projets : d’une part, le projet « Des Chiffres et des Jeunes » (DCDJ) vise à accroître l’expertise et la disponibilité des ressources en Côte d’Ivoire. Ce projet ambitionne de favoriser l'utilisation des données pour une meilleure prise de décisions, afin d’améliorer les conditions de vie et d’assurer un développement durable ; d’autre part, un consortium du secteur privé spécialisé dans l’analyse des données.</p>
        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>