<!-- views/pages/bord.ejs -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/heades %>
</header>

<main>
    <div class="jumbotron">
        <h1>Renaissance Santé Bouaké</h1>
        <p>Tous unis contre le VIH SIDA</p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>