<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<main>
    <div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <!-- <p class="text-center">
                <img src="img/heartland_alliance_logo.png" height="75">
            </p> -->
            <div class="login-panel panel panel-default">
                <div class="panel-heading"><i class="glyphicon glyphicon-lock"></i> Veuillez fournir vos paramètres de connexion </div>
                <div class="panel-body">
                    <form name="authenticateForm" role="form" action="/authenticate" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <label>Nom d'utilisateur</label>
                                <input type="text"  class="form-control" required placeholder="Entrez votre nom d'utilisateur"  name="Nom_User" autocomplete="off"  autofocus="autofocus" />
                            </div>
                            <div class="form-group">
                                <label> Mot de passe </label>
                                <input class="form-control" required  placeholder="Entrez votre mot de passe"  name="Code_User"  type="password"  autocomplete="off" value=""/>
                            </div>
                            <button class="btn btn-success btn-block"> Se connecter! </button>
                        </fieldset>
                    </form>
                    <% if(typeof errorMessage !== 'undefined') { %>
                    <p>
                        <div class="alert alert-danger">
                            <%= errorMessage %>
                        </div>
                    </p>
                    <% }%>

                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->
</main>


</body>
</html>