<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <h3 class="page-header"> Fichier du personnel  </h3>
        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" type="button">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
            </div>
        </div>
        <p></p>
        <% if( typeof Personnels !== 'undefined') { %>
        <table class="table table-hover">
            <thead>
                <tr class="active">
                    <th>ID_Pers</th>
                    <th>Nom_Pers</th>
                    <th>Prenom_Pers</th>
                    <th>Sexe_Pers</th>
                    <th>Fonction_Pers</th>
                    <th>Grade_Pers</th>
                    <th>SuperieurH_Pers</th>
                    <th>Tel_Pers</th>
                    <th>E-mail_Pers</th>
                    <th>DateNais_Pers</th>
                    <th>DateRecrut_Pers</th>
                    <th>Adress_Pers</th>
                    <th>AncienEmploi_Pers</th>
                    <th>!</th>
                </tr>
            </thead>
            <tbody>
                <% Personnels.forEach(function(p) { %>
                <tr ng-repeat="u in userItems.lines">
                    <td><%= p.ID_Pers %></td>
                    <td><%= p.Nom_Pers %></td>
                    <td><%= p.Prenom_Pers %></td>
                    <td><%= p.Sexe_Pers %></td>
                    <td><%= p.Fonction_Pers %></td>
                    <td><%= p.Grade_Pers %></td>
                    <td><%= p.SuperieurH_Pers %></td>
                    <td><%= p.Tel_Pers %></td>
                    <td><%= p.E-mail_Pers %></td>
                    <td><%= p.DateNais_Pers %></td>
                    <td><%= p.DateRecrut_Pers %></td>
                    <td><%= p.Adress_Pers %></td>
                    <td><%= p.AncienEmploi_Pers %></td>
                    <td>
                        <button class="btn btn-default btn-sm" type="button">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </td>
                </tr>
                <% })%>
            </tbody>
        </table>
       

        <% } else { %>
            <p></p>
            <div class="text-center">
                <div class="alert alert-info">Aucun membre de personnel n'existe dans le systeme</div>
            </div>
            <% } %>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>

</html>